body{
  margin: 0;
  font-family: sans-serif;
  background-color: #DDDDDD;
}
.header{
  background-color: #2079D0;
  padding: 2%;
  color: white;
  text-align: center;
  margin:auto;
  font-size: 1.5em;
}
.record{
  background-color: white;
  color: black;
  width: 90%;
  display: block;
  margin: 10px auto;
  padding: 2%;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 5px 4px 10px #888888;
}
.addButton{
  color: white;
  background-color: #2079D0;
  width: 50px;
  height: 50px;
  display: block;
  margin: 5%;
  text-align: center;
  border-radius: 100%;
  position: fixed;
  float: left;
  font-size: 2em;
  border: none;
  box-shadow: 0px 6px 8px #888888;
}
.addButton:hover{
  border: none;
  outline: none;
  box-shadow: 0px 10px 8px #888888;
  transition: box-shadow 0.2s ease-in-out;
}

@media screen and (min-width:801px){
  .record{
    width: 60%;
  }
}
